
                    <input type="hidden" name="post_id" id="post_id" value="">
                    <input type="hidden" name="comment_action" id="comment_action_id" value="">

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Comment here:</label>
                        <textarea class="form-control replyComment" rows="10" name="comment" id="id_comment" ></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary js-commnet">Submit</button>
