{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
    #detailpage .comment p {
    font-size: 18px;
}
    .reply_container .reply{
        display: none;
    }
    </style>
    <div id="detailpage" style="background-color: white;
    margin-bottom: 30px;
    border-right: solid thin #974679;padding: 17px;">
                <div class="bg-img" style="background-image: url({{ post.sport.thumbnail.url }}); height:130px">
                </div>
                <div class="detailcontainer">
                    <div class="detailHeader">
                        <h2>{{ post.title }}</h2>

                        <!--i class="fa fa-user"></i-->
                        <span class="user">
                 {{ post.author.username }}
                </span>
                        <span class="time"> @ 6 hours ago</span>
                        <span class="icon float-right">
                        <i class="fa fa-thumbs-up"></i>
                        {{ post.likes }}
                    </span>

                    </div>
                    <div class="detailContent">
                       {{ post.body }}
                    </div>

                    <div class="commentSection">
                        <div class="commentno">{{ post.comment|default:0  }} Comments
                            <hr style="margin-top: 0.5rem;
    background-color: #974679;"/>
                        </div>
                        <div class="comment_container">

                        </div>

                        <!--div class="comment sub">
                            <div class="row">
                                <div class="col-md-2 hidden-sm-down">
                                    <img src="assets/img/user_male2-512.png" class="img-thumbnail">
                                </div>
                                <div class="col-md-10">
                                    <h5>Lena Dunham</h5>
                                    <div class="time"> @ 6 hours ago</div>
                                    <p>Walt Disney Studios As the design lead for Disney Studios my primary
                                        responsibility is
                                        the creative vision and execution of a design language that will cover over 140
                                        enterprise
                                        and consumer products</p>
                                </div>
                            </div>
                        </div-->

                        <!--div class="comment">
                            <div class="row">
                                <div class="col-md-2 hidden-sm-down">
                                    <img src="assets/img/user_male2-512.png" class="img-thumbnail">
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <h5>Lena Dunham</h5>
                                    <div class="time"> @ 6 hours ago</div>
                                    <p>Walt Disney Studios As the design lead for Disney Studios my primary
                                        responsibility is
                                        the creative vision and execution of a design language that will cover over 140
                                        enterprise
                                        and consumer products</p>
                                </div>
                            </div>
                        </div-->

                    </div>

                    <div class="addcomment">
                        <div class="card">
                            <div class="card-block">
                                <div class="card-title">
                                    Add Comment
                                </div>
                                <div class="card-body">
                                    <form>

                                        <div class="form-group">

                                            <textarea class="form-control commentText"
                                                      rows="3"></textarea>
                                        </div>
                                        <div class="text-left imtired">
                                            <button type="submit" class="btn btn-primary mb-2 js-commnet">Comment</button>
                                        </div>
                                    </form>


                                </div>


                            </div>

                        </div>
                    </div>
                </div>

<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reply to Comment </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="reply_container">

                        </div>
                <form class="important_shit" method="post">
                    <input type="hidden" id="reply_author" >
                    <input type="hidden" id="reply_slug" >
                    {% csrf_token %}
                {% include 'includes/commentform.html' %}
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


            </div>

        </div>
    </div>
</div>


<script src="https://finallycomments.com/js/finally.min.js"></script>

</div>
{% endblock %}
{% block scripts %}
    <script>
    function getComments(username, slug, container){
          steem.api.getContentReplies(username, slug, function(err, result) {
  console.log(err, result);
  var html = '';
  $.each(result, function(key, value){


                        html+=    "<div class='comment'><div class='row'><div class='col-md-2 hidden-sm-down'> <img src= '/static/main/assets/img/user_male2-512.png'  class='img-thumbnail img-responsive'> </div> <div class='col-md-10'> "
                        html+=           "<h5>"+value.author+"</h5>";


                        html+=            "<p>"+value.body+"</p><div class='icon reply'><i class='fa fa-angle-up'></i>"+ value.pending_payout_value+" <i class='fa fa-comments'></i> "+value.children+ " <a href='#' author="+value.author+" slug="+value.permlink+"  class='js_reply'>Reply</a></div></div></div></div><hr>";




  });
  //console.log(html);
  $(container).html(html);
});
    }//get comment function
getComments("{{ post.author.username }}","{{ post.slug }}", '.comment_container');


    $('.comment_container').on('click', '.js_reply', function (e) {
        e.preventDefault();
        username=$(this).attr('author');
        slug=$(this).attr('slug');

        getComments(username,slug,'.reply_container');
        $("#reply_author").val(username);
        $("#reply_slug").val(slug);

        $('#replyModal').modal('show');
    });


    function comment(comment_class, username, slug){
        comment=$(comment_class).val()

        $.get("{% url 'main:comment' %}", {
            'comment':comment,
            'post_slug':slug,
            'post_username':username,
        })
            .done(function(data){
                 $('.js-commnet').prop('disabled', false);
                 getComments("{{ post.author.username }}","{{ post.slug }}", '.comment_container');
                alert(data.message)

                //console.log('testing')

        })
    }
    $('.important_shit .js-commnet').click(function (e) {
        e.preventDefault();
        //console.log('checking if it is running this');
        $(this).prop("disabled", true);
        comment_class='.replyComment';//'.commentText';
        author=$('#reply_author').val();
        slug=$('#reply_slug').val();
        comment(comment_class, author, slug)
    })

    $('.imtired .js-commnet').click(function (e) {

        e.preventDefault();
        $(this).prop("disabled", true);
        comment_class='.commentText';
        comment(comment_class, "{{ post.author.username }}", "{{ post.slug }}")
    })
    </script>

{% endblock %}