{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div id="post_list">
{% include 'includes/post_list.html' %}
</div>
{% endblock %}

{% block scripts %}
    <script>
      $('.sport_nav').click(function(e){
          e.preventDefault();
          sport_id=$(this).attr('data_id');
          url_path=window.location.pathname;
          $.post( url_path, {'offset':'0', 'sport_id':sport_id} )
              .done(function(data){
                 $('#post_list').html(data.data);
                  localStorage.setItem('offset', data.offset);
                   })
              .fail(function(){
                  alert('Network Error');
          });
      });

      $('.post_action').click(function(e){
          e.preventDefault();
          $('#commentModal').modal('show');

          id=$(this).attr('data_id');
          $('#post_id').val(id)
          status=$(this).attr('action');
          $('#comment_action_id').val(status);

          /**


           **/
      })
      $('#comment-upload').submit(function(e){
          e.preventDefault();
          status=$('#comment_action_id').val();
          id=$('#post_id').val()
          comment=$('#id_comment').val()
           $.post("{% url 'main:post_status' %}", {'id':id, 'status':status, 'comment':comment})
              .done(function(data){

                  $('#post_list').html(data.data);
                  alert(data.message);
                  $('#commentModal').modal('hide');
              })
              .fail(function(err){
                  alert('Network Error')
              })
      })

    </script>
{% endblock %}
